<template>
	<v-flex d-flex xs12>
		<div id="plot" ref="plotBox" class="white"></div>
	</v-flex>
</template>

<script>
	export default {
		name: "QuadraticFunctionGraph",
		props: ['fn', 'save'],
		data() {
			return {
			}
		},
		watch: {
			// whenever question changes, this function will run
			fn: function (newFn, oldFn) {
				this.$functionPlot({
					target: "#plot",
					id: "fnPlot",
					data: [{
						fn: newFn
					}],
					grid: true,
					width: this.$refs.plotBox.clientWidth,
					height: this.$refs.plotBox.clientHeight
				});
			},
			save: function(newSv, oldSv) {
				const svgContent = this.$refs.plotBox.innerHTML,
						serializer = new XMLSerializer(),
						//source = svgContent, //serializer.serializeToString(svgContent);
						//blob = new Blob([svgContent], {
						//	type: "image/svg+xml;charset=utf-8"
						//}),
						//url = window.URL.createObjectURL(blob),
						link = document.createElement("a");
				let source = svgContent;

				if(!source.match(/^<svg[^>]+xmlns="http\:\/\/www\.w3\.org\/2000\/svg"/)){
					source = source.replace(/^<svg/, '<svg xmlns="http://www.w3.org/2000/svg"');
				}
				if(!source.match(/^<svg[^>]+"http\:\/\/www\.w3\.org\/1999\/xlink"/)){
					source = source.replace(/^<svg/, '<svg xmlns:xlink="http://www.w3.org/1999/xlink"');
				}
				//add xml declaration
				source = '<?xml version="1.0" standalone="no"?>\r\n' + source;

				//convert svg source to URI data scheme.
				const url = "data:image/svg+xml;charset=utf-8,"+encodeURIComponent(source);

				link.href = url;
				link.download = this.fn+".svg";
				document.body.appendChild(link);
				link.click();
				document.body.removeChild(link);
			}
		},
	}
</script>

<style lang="scss">
#plot {
	width: 100% !important;
	height: 100% !important;
}
</style>
