<template>
	<v-layout column>
		<v-flex xs12>
			<form>
				<v-list subheadaer two-line>

					<v-subheader>Wpisz argumenty funkcji</v-subheader>

					<v-list-tile>
						<v-list-tile-action>
							<v-text-field
									box outline
									v-model.number.lazy="a"
									type="number"
									prefix="a:"
									:error-messages="aErrors"
									@input="$v.a.$touch()"
									@blur="$v.a.$touch()"
							></v-text-field>
						</v-list-tile-action>
						<v-list-tile-action>
							<v-text-field
									box outline
									v-model.number.lazy="b"
									type="number"
									prefix="b:"
									:error-messages="bErrors"
									@input="$v.b.$touch()"
									@blur="$v.b.$touch()"
							></v-text-field>
						</v-list-tile-action>
						<v-list-tile-action>
							<v-text-field
									box outline
									v-model.number.lazy="c"
									type="number"
									prefix="c:"
									:error-messages="cErrors"
									@input="$v.c.$touch()"
									@blur="$v.c.$touch()"
							></v-text-field>
						</v-list-tile-action>
					</v-list-tile>
				</v-list>

				<v-card class="transparent" flat>
					<v-card-text class="text-xs-center">
						<p>Ogólny wzór:</p>

						<p><var>y</var>=<var>a * x<sup>2</sup></var> + <var>b * x</var> + <var>c</var></p>

						<p>Aktualna funkcja:</p>

						<p><var>y</var> = {{fnString}}</p>

						<p>&Delta; = <var>b<sup>2</sup></var> − 4<var>ac</var> = {{ delta }}</p>

						<p v-if="delta > 0" v-katex:display="x_1_string"></p>
						<p v-if="delta > 0" v-katex:display="x_2_string"></p>
						<p v-if="delta === 0" v-katex:display="x_0_string"></p>
						<p v-if="delta < 0">&Delta; ujemna, brak miejsc zerowych.</p>

					</v-card-text>
				</v-card>

				<v-btn block large :loading="loading" :disabled="$v.$invalid || loading" @click="submit"><v-icon>show_chart</v-icon> Generuj wykres</v-btn>

				<v-btn block large :disabled="saveDisabled" @click="saveImg"><v-icon>save</v-icon>Pobierz</v-btn>
			</form>
		</v-flex>
	</v-layout>
</template>

<script>
	import '../../node_modules/katex/dist/katex.min.css';
	import {validationMixin} from 'vuelidate'
	import {required, decimal} from 'vuelidate/lib/validators'
	import moment from 'moment';

	const notZero = (value) => value !== 0

	export default {
		name: "QuadraticFunction",
		props: ['fn','save'],
		mixins: [validationMixin],
		validations: {
			a: {required, decimal, notZero},
			b: {decimal},
			c: {decimal}
		},
		data() {
			return {
				a: "",
				b: "",
				c: "",
				x: "",
				submitStatus: null,
				loading: false,
				saveDisabled: true
			}
		},
		computed: {
			fnString() {
				if (this.a === 0) {
					return ''
				}
				let y = ''
				y+=(this.a && this.a !==1)?`${this.a}*x^2`:'x^2'
				y+=(this.b > 0)?`+${(this.b > 1)?`${this.b}*`:''}x`:( (this.b < 0)?`${this.b}*x`:'')
				y+=(this.c > 0)?`+${this.c}`:( (this.c < 0)?`${this.c}`:'')
				return y
			},
			delta() {
				return Math.pow(this.b,2)-4*this.a*this.c
			},
			x_1() {
				return -(this.b - Math.sqrt(this.delta)) / (2 * this.a)
			},
			x_1_string() {
				let x = Math.round(this.x_1 * 100) / 100
				return `x_{0_1} = \\frac{-b-\\sqrt\\Delta}{2a} = ${x}`
			},
			x_2() {
				return -(this.b + Math.sqrt(this.delta)) / (2 * this.a)
			},
			x_2_string() {
				let x = Math.round(this.x_2 * 100) / 100
				return `x_{0_2} = \\frac{-b-\\sqrt\\Delta}{2a} = ${x}`
			},
			x_0() {
				return (-1 * this.b) / (2 * this.a)
			},
			x_0_string() {
				let x = Math.round(this.x_0 * 100) / 100
				return `x_0 = \\frac{-b}{2a} = ${x}`
			},
			aErrors() {
				const errors = [];
				if (!this.$v.a.$dirty) return errors;
				!this.$v.a.required && errors.push('Ten parametr jest wymagany.')
				!this.$v.a.decimal && errors.push('Musi być liczbą.');
				!this.$v.a.notZero && errors.push('Parametr nie może wynosić 0');
				return errors
			},
			bErrors() {
				const errors = [];
				if (!this.$v.b.$dirty) return errors;
				!this.$v.b.decimal && errors.push('Musi być liczbą.');
				return errors
			},
			cErrors() {
				const errors = [];
				if (!this.$v.c.$dirty) return errors;
				!this.$v.c.decimal && errors.push('Musi być liczbą.');
				return errors
			}
		},
		filters: {
			abs(value) {
				return Math.abs(value)
			},
			signed(value) {
				if (value > 0) {
					return '+'
				} else if (value < 0) {
					return '-'
				}
				return ''
			}
		},
		methods: {
			submit () {
				this.loading = true;
				this.$v.$touch()
				if (this.$v.$invalid) {
					this.submitStatus = 'ERROR'
					this.loading = false;
				} else {
					// do your submit logic here
					this.submitStatus = 'PENDING'
					this.$emit('update:fn', this.fnString);
					setTimeout(() => {
						this.submitStatus = 'OK'
						this.loading = false;
					}, 500)
				}
			},
			saveImg() {
				const time = moment();
				this.$emit( 'update:save', time);
			}
		},
		watch: {
			// whenever question changes, this function will run
			fn: function (newFn, oldFn) {
				this.saveDisabled = false
			}
		},
	}
</script>

<style scoped>

</style>
