<template>
	<v-app :dark="dark">

		<v-toolbar app fixed clipped-left>
			<v-toolbar-title class="headline text-uppercase">
				<span>Quadratic</span>
				<span class="font-weight-light">FUNCTION RESOLVER</span>
			</v-toolbar-title>
			<v-spacer></v-spacer>
		</v-toolbar>
		<v-navigation-drawer
				app
				v-model="drawer"
				:mini-variant.sync="mini"
				stateless
				floating
				clipped
		>
			<v-layout column fill-height>
				<v-flex @click.stop="mini = !mini" class="do-not-grow">
					<v-list flat class="blue">
						<v-list-tile>
							<v-list-tile-avatar></v-list-tile-avatar>

							<v-list-tile-content>
								<v-list-tile-title></v-list-tile-title>
							</v-list-tile-content>
							<v-list-tile-action>
								<v-btn icon>
									<v-icon>chevron_left</v-icon>
								</v-btn>
							</v-list-tile-action>
						</v-list-tile>
					</v-list>
				</v-flex>

				<v-flex v-show="!mini" v-cloak grow>
					<v-card flat class="transparent">
						<QuadraticFunction :fn.sync="fn" :save.sync="save"/>
					</v-card>
				</v-flex>


				<v-flex v-show="mini" v-cloak @click.stop="mini = !mini" class="blue" grow>
					<v-list>
						<v-list-tile>
							<v-list-tile-action>
								<v-btn icon>
									<v-icon>chevron_right</v-icon>
								</v-btn>
							</v-list-tile-action>
						</v-list-tile>
					</v-list>
				</v-flex>
			</v-layout>


			<v-card class="blue">

			</v-card>

		</v-navigation-drawer>

		<v-content>
			<v-container fluid grid-list-md fill-height>
				<v-layout row wrap>
				<QuadraticFunctionGraph :fn.sync="fn" :save.sync="save"/>
				</v-layout>
			</v-container>
		</v-content>

		<v-footer app fixed>
			<span>&copy; 2019</span>
		</v-footer>
	</v-app>
</template>

<script>
	import QuadraticFunction from "./components/QuadraticFunction";
	import QuadraticFunctionGraph from "./components/QuadraticFunctionGraph";
	import ContentSave from "vue-material-design-icons/ContentSave"

	export default {
		name: 'App',
		components: {
			ContentSave,
			QuadraticFunction,
			QuadraticFunctionGraph,
		},
		data() {
			return {
				dark: true,
				drawer: true,
				mini: false,
				fn: '',
				save: ''
			}
		}
	}
</script>

<style lang="scss">
	.do-not-grow {
		flex-grow: 0
	}
</style>
